<footer>
    <div class="footer">
        <p>© 2025 Nexus. Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <div class="pg_error">
            <a href="Error-404.html">Error 404</a>
            <a href="error.500.html">Error 500</a>
        </div>
</footer>

<!--css: Se puede modificar
footer {
  background: #111827;
  color: #fff;
  text-align: center;
  margin-top: auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 8px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.pg_error {
  margin-top: 10px;
}

.pg_error a {
  color: #F3F4F6;
}

.social-icons a:hover {
  color: #b018ec;
}

-->