<header class="header-top">
    <div class="header-left">
        <img src="assets/img/Nexus_logo-removebg-preview.png" alt="Logo Nexus" class="logo" width="50" height="50">
        <h1 id="titulo">Nexus</h1>
    </div>
    <!--Eliminar la busqyeda si no se necesita-->
    <div class="header-center">
        <div class="buscador">
            <label for="search" class="sr-only"></label>
            <input id="search" type="text" placeholder="Buscar...">
        </div>
    </div>

    <div class="header-right">
        <!-- Icono de campana -->
        <a href=""><i class="fa-solid fa-bell"></i></a>
        <!-- Icono de usuario -->
        <a href="perfil_usuario.html"><i class="fa-solid fa-user"></i></a>
    </div>
</header>


<!--css: Se puede modificar
.header-top {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111827;
  padding: 0 20px;
  height: 10vh;
  z-index: 9999;
}

/* Izquierda */
.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFFFFF;
}

.logo {
  height: 55px;
  width: auto;
}

/* Centro */
.header-center {
  flex: 1;
  /* Ocupa espacio para centrar */
  display: flex;
  justify-content: center;
}

.buscador {
  width: 80%;
  justify-content: center;
}

.buscador input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid transparent;
  outline: none;
  transition: border 0.3s ease;
}

.buscador input:focus {
  border: 2px solid #8B5CF6;
  /* Verde */
}

/* Derecha */
.header-right a {
  align-items: center;
  gap: 35px;
  color: #ffffff;
  font-size: 1.6rem;
  margin: 10px;

  &:hover {
    color: #8B5CF6;
  }
}



#titulo {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 2.1rem;
  font-style: italic;
  font-weight: bolder;
}
-->