.uno{
    color: S#9ddaf7;
}
.imagen{
    width: 100px;
    border-radius: 100px;
}
body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #fffdfd;
    }
    .card {
      background: #cac3c7;
      width: 300px;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(250, 2, 188, 0.2);
      text-align: center;
    }
    .avatar {
      font-size: 60px;
    }
    .stars {
      color: rgb(255, 208, 0);
      margin: 10px 0;
    }
    .info {
      text-align: left;
      margin-top: 15px;
    }
    .info p {
      margin: 5px 0;
    }