@import url(fuentes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
.header-top {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111827;
    padding: 0 0px;
    height: 8vh;
    z-index: 10;
}

/* Izquierda */
.header-left {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
    color: #FFFFFF;
}

.logo {
    height: 55px;
    width: auto;
    cursor: pointer;
}

/* Centro */
.header-center {
    flex: 1;
    /* Ocupa espacio para centrar */
    display: flex;
    justify-content: center;
}

/* Derecha */
.header-right a {
    align-items: center;
    gap: 35px;
    color: #ffffff;
    font-size: 1.6rem;
    margin: 10px;

    &:hover {
        color: #8B5CF6;
    }
}

#titulo {
    font-size: 2.1rem;
    font-style: italic;
    font-weight: bold;
}



/*Sidebar*/
#sidebar {
    position: fixed;
    top: 6%;
    width: 20vw;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    padding: 20px;
}

.menu-lateral ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 10px;
    margin-right: 20px;
}

.menu-lateral li {
    font-size: 1.2rem;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.menu-lateral li:hover {
    transform: scale(0.9);
}

li a:hover {
    color: #a480f7;
    text-decoration: none;
    display: block;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    padding: 10px 20px;
}



.profile-icon {
    font-size: 1.5rem;
}


.container {
    flex: 1;
    width: 50%;
    margin: 30px auto;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.field input,
.field textarea,
.field select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.field-group {
    display: flex;
    gap: 10px;
}

.fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.legend {
    font-weight: bold;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    background: #111827;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #8B5CF6;
}

.btn-alt {
    background: #ddd;
    color: #333;
}

.btn-alt:hover {
    background: #bbb;
}

/*Footer*/
footer {
    background: #111827;
    color: #fff;
    text-align: center;
    margin-top: auto;
    position: relative;
    z-index: 5;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 8px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.pg_error {
    margin-top: 10px;
}

.pg_error a {
    color: #F3F4F6;
}

.social-icons a:hover {
    color: #b018ec;
}

@media(max-width: 920px) {
    #sidebar h3 {
        display: none;
    }

    #sidebar .texto {
        display: none;
    }

    #sidebar {
        width: auto;
    }

    #sidebar li a:hover {
        scale: 1.1;
    }

    #titulo {
        font-size: 2.0rem;
    }

    .logo {
        height: 40px;
        width: auto;
    }

    .header-right a {
        align-items: center;
        gap: 35px;
        color: #ffffff;
        font-size: 1.2rem;
        margin: 10px;

        &:hover {
            color: #8B5CF6;
        }
    }

    .container {
        width: 70%;
        margin: 10px 0 20px 150px;

    }

}

@media(max-width: 500px) {
    .container {
        width: 80%;
        margin: 10px 60px;
    }

    #sidebar {
        width: 10%;
        padding: 0;
    }
}