@import url(fuentes.css);


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-top {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111827;
  height: 8vh;
  z-index: 10;
}

/* Izquierda */
.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFFFFF;
}

.logo {
  height: 55px;
  width: auto;
  cursor: pointer;
  padding-left: 20px;
}


#titulo {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 2.1rem;
  font-style: italic;
  font-weight: bolder;
}



main h1 {
  font-size: 2.6rem;
  margin-top: 30px;
  color: #2c3e50;
}

main p {
  font-size: 1.6rem;
  margin: 10px 0 30px;
  color: #555;
}

main img {
  max-width: 90%;
  height: auto;
  margin-top: 30px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}


/*Footer*/
footer {
  background: #111827;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  position: relative;
  z-index: 5;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 8px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.pg_error {
  margin-top: 10px;
}

.pg_error a {
  color: #F3F4F6;
}

.social-icons a:hover {
  color: #b018ec;
}

@media(max-width: 800px) {
  main h1 {
    text-align: center;
    font-size: 2.0rem;
  }

  main p {
    text-align: center;
    font-size: 1.2rem;


  }
}