@import url(fuentes.css);

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* HEADER */
.header-top {
    position: sticky;
    top: 0;
    background-color: #111827;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 8vh;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-left .logo {
    height: 45px;
    width: auto;
    cursor: pointer;
}

#titulo {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 2.0rem;
    font-weight: bold;
    font-style: italic;
}

.header-right a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin-right: 10px;
}

.header-right a:hover {
    color: #8B5CF6;
}

/* SECCIONES GENERALES  */
.section-box {
    height: 100vh;
    padding: 10% 5px 0;
    text-align: center;
}


.section-box {
    background: linear-gradient(135deg, #ffffff);
    color: #fff;
}

.section-box h2 {
    padding-bottom: 80px;
    color: #111827;
    font-size: 2.5rem;
    font-style: italic;
}

.section-box article {
    max-width: 700px;
    margin: 0 auto 20px;
    font-size: 1.5rem;
    color: #000000;
}

/* BOTONES  */
.botones a {
    display: inline-block;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    background-color: #111827;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 25px;
    transition: background 0.3s, transform 0.2s;
    font-size: 1rem;
}



.botones a:hover {
    background-color: #8B5CF6;
    transform: scale(1.05);
}

/*  FRASE FINAL  */
.frase {
    margin-top: 25px;
    font-style: italic;
    font-weight: bold;
    color: #444;
}

/*  CONTENEDORES DE SECCIONES */
.contenedor_evento,
.contenedor_foro,
.contenedor_califica {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contenedor_evento img,
.contenedor_foro img,
.contenedor_califica img {
    width: 380px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin: 20px;
}


footer {
    background: #111827;
    color: #fff;
    text-align: center;
    margin-top: auto;
    position: relative;
    z-index: 5;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 8px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.pg_error {
    margin-top: 10px;
}

.pg_error a {
    color: #F3F4F6;
    text-decoration: none;
}

.social-icons a:hover {
    color: #b018ec;
}

/* === RESPONSIVE === */
@media (min-width: 1000px) {

    .contenedor_evento,
    .contenedor_foro,
    .contenedor_califica {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .contenedor_foro {
        flex-direction: row-reverse;
    }

    footer {
        padding-top: 10px;
    }

    .contenedor_evento img,
    .contenedor_foro img,
    .contenedor_califica img {
        width: 540px;
        max-width: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        margin: 20px;
    }

    .section-box h2 {
        padding-bottom: 80px;
        color: #111827;
        font-size: 3.5rem;
        font-style: italic;
    }

    .section-box article {
        max-width: 700px;
        margin: 0 auto 20px;
        font-size: 2.5rem;
        color: #000000;
    }

    .header-left .logo {
        height: 55px;
        width: auto;
        cursor: pointer;
    }

    .header-left {
        margin: 0;
    }



    #titulo {
        font-size: 2.1rem;
        font-weight: bold;
        font-style: italic;

    }


}