@import url(fuentes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 70px;
    width: 100%;
   
}

form {
    background-color: white;
    width: 65%;
    max-width: 600px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    margin-top: 5px;

}

form input {
    font-size: 18px;
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.search-barr {
    background-color: #F55865;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    border-radius : 8px;
}

.icon-user {
    background-color: #F55865;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    border-radius : 8px;
}

.notification {
    background-color: #F55865;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    border-radius : 8px;
}

.inicio {
    color: white;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    position: absolute;
    cursor: pointer;
    margin-right: 1060px;
    
}

.logo {
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 70px;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    position: absolute;
   
}
