@import url(fuentes.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f4;
}

.header-top {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111827;
  height: 8vh;
  z-index: 10;
}

/* Izquierda */
.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFFFFF;
}

.logo {
  height: 55px;
  width: auto;
  cursor: pointer;
  padding-left: 20px;
}


#titulo {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 2.1rem;
  font-style: italic;
  font-weight: bolder;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: calc(100vh - 8vh - 100px);
  /* header + footer */
}




h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.lock {
  font-size: 60px;
  margin-bottom: 15px;
}

a {
  margin: 10px 0;
  color: #007BFF;
  text-decoration: none;
}


form {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 300px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}


.btn {
  padding: 10px 15px;
  margin: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}


.btn.cancel {
  background: #111827;
}

.btn.verify {
  background: #111827;
}

.btn:hover {
  background: #b018ec;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

/*Footer*/
footer {
  background: #111827;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  position: relative;
  z-index: 5;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 8px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.pg_error {
  margin-top: 10px;
}

.pg_error a {
  color: #F3F4F6;
}

.social-icons a:hover {
  color: #b018ec;
}