.usuario{
     display: flex;
     justify-content: center;  
}
p{
    display: flex;
    justify-content: flex-start;
}
.contenedor{
      border: 2px solid black;   
  width: 30%;                
  margin: 0 auto;            
  padding: 15px;           
  text-align: center; 
  height: 60vh;
}